body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Matte background color */
  padding: 20px;
}

header {
  background-color: #f2f2f2; /* Matte background color */
  border-radius: 20px;
  box-shadow: 12px 12px 24px #cbced1, -12px -12px 24px #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 16px;
}

nav ul li button:hover {
  text-decoration: underline;
}

main {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 12px 12px 24px #cbced1, -12px -12px 24px #ffffff;
  padding: 20px;
}

#loading {
  display: none;
  font-size: 20px;
  margin-top: 20px;
}

.question {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 12px #cbced1, -6px -6px 12px #ffffff;
  cursor: pointer;
}

.question-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.question-details {
  font-size: 14px;
  color: #666;
}
